body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  h1 {
    color: #333;
  }

  button {
    background-color: #211ad6;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color:  #446eda;
  }

  p {
    font-size: 18px;
  }